body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.img_1 {
    width: 500px;
    border-radius: 30px;
}

.img_2 {
    width: 500px;
    border-radius: 30px;
}